*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
.claude/

# IDE-local state (don't commit, but DO commit .idea/runConfigurations/)
.idea/deviceManager.xml
.idea/gradle.xml
.idea/misc.xml
.idea/studiobot.xml
.idea/vcs.xml
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/inspectionProfiles/
